<section class="background-1">
    <section class="about-container">
        <div class="profile-picture"></div>
            <div class="about-text">I am 25 years old Mechanical Engineer on a quest to become full time web developer. Couple of months ago I’ve decided to learn programming, as I’ve dived deeper and deeper into world of the web it became more and more enjoyable. Starting out with the basics of C++ I’ve made my way to C# and ASP.NET Core, to now be able to create basic Angular apps.
            <div (click)="downloadCv()" class="cv-icon"><img src="../../assets/Cv-icon.png"></div>
        </div>
    </section>
</section>
