<div class="projects-container">
    <div href="#" class="project-grid" [ngClass]="projectListCheck() ? 'notactive' : 'active'" >
            <section class="box" *ngFor='let project of projectList'>
            <div class="details">{{project.ProjectName}}<span> | </span><span>{{project.ProjectDate}}</span><span> | </span><span>{{project.ProjectTechnologies}}</span></div>
            <div class="description">{{project.ProjectDescription}}</div>
            <button class="box-button-1">Live</button>
            <button class="box-button-2">Code</button>
            <img class="project-image"src="../../assets/progress.png">
        </section>
    </div>
</div>
