h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
    color: rgb(54, 54, 54);
}
.submit-message{
    text-align: center;
    padding:1rem;
}
.contact-container{
    display:flex;
    justify-content: stretch;
    align-items: center;
    min-height: 100vh;
    margin: 20% 10%;
    color: rgb(170, 170, 170);
}

.form-container {
    background-color:#ffffff;
    display:flex;
    border-radius: 0px;
    border: 1px solid rgb(211, 211, 211);
    padding:40px;
    width: 100%;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 57px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 57px -32px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.15);
}
.contact-info-box{
    display:flex;
    flex-wrap: row;
}
.icon{
    color: rgb(54, 54, 54);
}
.text-field{
    margin-left:1rem;
    margin-bottom:3rem;
}
.col-1{
    display:flex;
    flex-direction: column;
    margin-right:30px;
    justify-content: center;
}
.col-2{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    padding: 0 30px;  
    border: 1px solid rgb(231, 231, 231);
}
input, textarea{
    font-size: 1.2rem;
    height: 3rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 30px;
    resize: none;
}

input:focus{
    background-color: rgb(241, 241, 241);
}
button{
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.3rem;
    border:none;
    margin: 10px auto;
    background-color: rgb(199, 199, 199);
    color: white; 
    outline:none;
    transition: all 200ms ease-in-out;
}
button:hover{
    background-color: rgb(149, 149, 149);
}
button:active{
    background-color: rgb(87, 87, 87);
}
button:disabled{
    background-color:rgba(88, 88, 88, 0);
    transform: translate(0,30%);
    color:rgba(190, 190, 190, 0.0); 
}
textarea{
    height: 250px;
    padding:20px;
}
.form-validation{
    color: white;
    margin-right:auto;
    margin-left: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(187, 99, 99);

}

.contact-info{
    font-size: 2rem;
    font-weight: 200;
    margin-bottom:2rem;
    margin-left:auto;
    margin-right: 2rem;

}
@media (max-width: 1000px){
    .form-container{
        flex-direction: column;
    }
    .col-1{
        order:1;
    }
    .col-2{
        order:0;
        margin-bottom:20px;
    }
    .contact-info{
        margin:0 auto;
        margin-bottom: 1rem;
    }
}
@media (max-width: 550px){
    input, textarea{
        font-size: 0.8rem;
        height: 2rem;
    }
    .text-field{
        margin-bottom: 1rem;

    }
    textarea{
        height: 200px;
        padding:20px;
    }
    .form-validation, .text-field{
        font-size: 0.8rem;

    }
    .contact-info{
        font-size: 1.5rem;
    }
    .form-container {
        padding:20px;
    }
    .contact-container{
        margin: 0 11%;
    }
    button{
    width: 250px;
    }

}