<div class="widget-container">
    <a href="https://github.com/kohan14">
        <i class="fab fa-github ic-size" ></i>
    </a>
    <a href="https://www.facebook.com/piotrek.kochanowski2">
        <i class="fab fa-facebook ic-size"></i>
    </a>
    <a href="https://www.linkedin.com/in/piotr-kochanowski-948255126/">
        <i class="fab fa-linkedin ic-size"></i>
    </a>
</div>
<app-navbar></app-navbar>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>
<footer>Copyright © 2020 Piotr Kochanowski. All Rights Reserved</footer>